.nav{
    .nav-bar{
        position: absolute;
        left: 0%;
        top: 0%;
        background-color: #FFFFFF;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        width: 100%;
        height: 60px;
    }
    .rewards-logo{
        height: 22px;
        margin: 15px 30px;
        width: 208px;
    }

    .side-nav {
        background-color: #2F2D2E;
        width: 300px;
        height: 100%;
        z-index: 1;
        top: 60px;
        left: 0;
        position: fixed;
        color:#C0C0C0;
        overflow-x: hidden;
        padding-top: 80px;
    }
    li {

        margin: 30px;
        text-decoration: none;
        font-size: 16px;
        color: #C0C0C0;
        display: block;
        font-weight: 300;
        letter-spacing: -0.25px;
        line-height: 17px;
        text-align: left;
        cursor: pointer;
        &:hover{
            color: #fff;
            font-weight: 400;
        }
    }
}

.copyright {
    color: #9b9b9b;
    font-family: CircularStd;
    font-size: 12px;
    line-height: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 47px;

    img {
        width: 90px;
        height: 42px;
    }
}

.collapsible{

}
.active {
    color: #fff;
    font-weight: 400; 
}

.content{
    margin-left: -56px;
    color: #FFFFFF;
    font-family: CircularStd;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}