.report-page {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 400px;
}
th {
    color: #777777;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
}
/*
.table-body{
    border: 1px solid #777777;
}
*/
td {
    background-color: #FFFFFF;
   
    width: 941px;
    height: 50px;
    color: #777777;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
}

.table-footer {
    margin-top:34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #777777;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;

    a {
        color: #000 !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }
}