.table{
    width: 100%;
    
    border-collapse: collapse;

    .table-body {

        background-color: #FFFFFF;
        border: 1px solid rgba(192, 192, 192, 0.35);
        height: 50px;
        td {
            color: #777777;
            font-family: CircularStd;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            text-align: left;
        }
    }
    
}
.report-page {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 400px;
}
th {
    color: #777777;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
}


.table-footer {
    margin-top:34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #777777;
    font-family: CircularStd;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;

    a {
        color: #000 !important;
        text-decoration: underline !important;
        cursor: pointer !important;
    }
}
