.report-page {
    margin-left: 300px;
    margin-top: 100px;
    
}

td, th {
    background-color: #FFFFFF;
    border: 1px solid rgba(192, 192, 192, 0.35);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 #8BC34A;
    width: 941px;
    height: 50px;
}